html {
    background-color:white;
    font-family: Helvetica, Arial;
    font-size:16px;
    overflow:hidden;
}

body {
    margin:0;
    padding:0;

}

#container {
  background: url(../images/CLOUDS_Original.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

/*Introduction is a div in which Name and Tagline are held */

          .introduction, .introduction:before, .introduction:after, .shakeMessage {
              position: fixed;
              z-index:100;
              top:65%;
              text-align: center;
              padding:1%;
              font-family: 'Lato';
              color: #ffffff;
              display: block;
              width:40vw;
              margin-left:15vw;
              }

          .shakeMessage {
            margin-left:10vw;
            width:80vw;
            top:90%;
            visibility:hidden;
          }

          .introduction:after {
            content: "ROI Minded CFA Turned \A  Full Stack Developer";
            font-size: 1.5em;
            opacity: 0;
            text-align: center;

          }

          .introduction:before {
            content: "Martin Terskin";
            font-size: 2em;
            opacity: 1;
            text-align: center;
          }


          .introduction:before, .introduction:after {
            transition: opacity 0.5s linear;
          }

          .introduction:hover:before {
            opacity: 0;
          }

          .introduction:hover:after {
            opacity: 1;
          }

/*Pop out effect for a div  */

          .popup {
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
            transition: all ease 0.5s;
          }
          .popup img {
            border-radius: 50%;
            margin: 0.3em;
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
            transition: all ease 0.5s;
          }
          .popup img:hover {
            margin: 0px;
            box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
          }

/*Positions for pop ups - social media/online presence links*/

          #links {
            position:fixed;
            top:5%;
            width:100%;
            height:25%;
          }

          .theSun {
            overflow:hidden;
            width:10%;
          }

         .theSun img, .portfolio {
              position: absolute;
              z-index: 101;
              top:5%;
              left:5%;
              width:10%;
              transition: all ease;
          }

          .portfolio {
               font-size: 1vw;
               color:white;
               width: 8vw;
               padding:2.5vh 0 0 0;
               display:none;
          }

          .portfolio ul {
            list-style-type: none;
            float: left;
            padding: 0 0 0 2.5vw;
          }

          .portfolio h3 {
            font: bold 25%/1.5 Helvetica, Verdana, sans-serif;
            margin: 6% 2% 2% 2%;
          }

          .portfolio li img {
            width: 25%;
            margin: 5% 5% 5% 5%;
            float: left;
          }

          .portfolio li p {
            font: 200 25%/1.5 Georgia, Times New Roman, serif;
            margin: 1%;
          }

          .portfolio li {
            padding: 1%;
            overflow: auto;
            float:left;
          }

          .portfolio li:hover {
            color: #00ff94;
            cursor: pointer;
          }

          .linkedin img {
              position: absolute;
              top:85%;
              left:25%;
              width:7%;
              transition: all ease
          }

          .twitter img {
              position: absolute;
              top:0%;
              left:60%;
              width:3%;
              transition: all ease
          }

          .github img {
              position: absolute;
              top:35%;
              left:55%;
              width:4%;
              transition: all ease
          }

/* Code to position Resume Bullets */

          .label1 {
              position: fixed;
              width:10%;
              height:10%;
              left:50%;
              top:50%;
              padding:25px;
              text-align: center;
              font-family: Helvetica Neue;
              font-size: 12px;
              line-height: 14px;
              color:#aaa;
              -webkit-user-select:none;
              -moz-user-select:none;
              }

          .label2 {
              position: fixed;
              width: 3px;
              height: 3px;
              left:50%;
              top:50%;
              padding:10px;
              font-family: Helvetica Neue;
              font-size: 12px;
              line-height: 14px;
              border-radius:50%;
              background-image: url("../images/PalantirV3.png");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              -webkit-user-select:none;
              -moz-user-select:none;
              }

          .pulse {  cursor: pointer;
                        box-shadow: 0 0 0 rgba(204,169,44, 0.4);
                        animation: pulse 0.5s infinite;
                      }



          @keyframes pulse {
            0% {-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
              box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);}
            70% {-moz-box-shadow: 0 0 0 35px rgba(255,255,255, 0);
                box-shadow: 0 0 0 10px rgba(255,255,255, 0);}
            100% {-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
                -shadow: 0 0 0 0 rgba(255,255,255, 0);}}


          .pulse2 {  cursor: pointer;
                        box-shadow: 0 0 0 rgba(204,169,44, 0.4);
                        animation: pulse 1s infinite;
                      }


            @keyframes pulse {
              0% {-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
                box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);}
              70% {-moz-box-shadow: 0 0 0 55px rgba(255,255,255, 0);
                  box-shadow: 0 0 0 10px rgba(255,255,255, 0);}
              100% {-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
                  -shadow: 0 0 0 0 rgba(255,255,255, 0);}}


           .resume1 {
                    visibility: hidden;
                    position: relative;
                    top:20%;
                    margin-left: auto;
                    margin-right: auto;
                    width: 80%;
                    height: 60%;
                    background-color:white;
                    border-radius: 5%;
                    }

            .resume2 {

                    background-color:white;
                    font-size:16px;
                    overflow:hidden;
                    left:540px;
                    top:570px;
                    padding:10px;
                    font-size: 12px;
                    line-height: 14px;
                    position: absolute;
                    width: 100px;
                    height: 60px;
                    }
